.industries-section {
  background-color: #fff;
  color: #0A2934;
  padding-top: 5rem;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  box-sizing: border-box;
  overflow-x: hidden;
  max-width: 1560px;
  margin: auto;
}

.industries-section h2 {
  font-size: 48px;
  color: #C12525;
  font-weight: 800;
  margin-bottom: 40px;
  letter-spacing: 2.7px;
  line-height: 43px;
}

.industries-grid {
  color: #0A2934;
  border-radius: 14px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  box-sizing: border-box;
}

.industries-swiper {
  background-color: #ccc;
  color: #0A2934;
  border-radius: 14px;
  padding: 20px;
  box-sizing: border-box;
}

.industry-item {
  display: flex;
  color: #0A2934;
  flex-direction: column;
  align-items: center;
  padding: 30px 0px; 
  border-radius: 12px;
  background-color: transparent;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}

.industry-item:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(255, 255, 255, 0.1);
}

.industry-item img {
  width: 135px;
  height: 135px;
  object-fit: contain;
  transition: transform 0.3s ease;
}

.industry-item:hover img {
  transform: scale(1.05);
}

.industry-item p {
  margin-top: 2rem;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  opacity: 0.8;
}

.swiper-pagination-bullets {
  margin-top: 20px;
}

.swiper-pagination-bullet {
  background: #ccc;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
}

@media (max-width: 1024px) {
  .industries-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    padding: 40px 30px;
  }
}

@media (max-width: 768px) {
  .industries-grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    padding: 40px 30px;
  }

  .industry-item img {
    width: 110px;
    height: 110px;
  }
}

@media (max-width: 680px) {
  .industries-section {
    padding-top: 1rem;
  }
  
  .industries-swiper {
    padding: 0px;
    box-sizing: none;
    gap: 5rem;
  }

  .industries-grid {
    display: none;
    padding: 0px;
  }
  
  .industry-item img {
    width: 125px;
    height: 125px;
  }

  .industries-section h2 {
    font-size: 30px;
  }
}